{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">{{ departure }}</h1>
    <p class="mb-4">Найдено {{count_tours}} тура, цена от {{min_price}} до {{max_price}} руб. и от {{min_nights}} ночей до {{max_nights}} ночей.</p>
    <!-- CARDS -->
    <div class="row mt-5">{% for key, val in tours_dep.items() %}
      <div class="col-4">
        <div class="card mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <img src="{{ val.picture }}" class="card-img-top embed-responsive-item" alt="">
            </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ val.title }}<br> {{val.stars | int *('★') }}</h2>
            <p class="card-text">Cтрана: {{ val.country }}<br>
              Дата заселения: {{ val.date }}<br>Количество ночей: {{ val.nights }}<br> Цена: {{ val.price }} руб.<br><br>
              {{ val.description[:35] }}...
            </p>
            <a href="/tours/{{ key }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>{% endblock %}