{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('http://www.kontur42.ru/Images/contacts/1.jpg'); background-position: center center">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">Для тех, кого отвлекают дома</p>
      <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">{% for key, val in six_tours.items() %}
      <div class="col-4">
        <div class="card mb-4">

            <img src="{{ val.picture }}" class="card-img-top img-fluid" alt="">

            <div class="card-body">
              <h2 class="h5 card-title">{{ val.title }} {{val.stars | int *('★') }}</h2>
                <p class="card-text">Cтрана: {{ val.country }}<br>Количество звезд: {{ val.stars }}<br>
                  Дата заселения: {{ val.date }}<br>Количество ночей: {{ val.nights }}<br> Цена: {{ val.price }} руб.
                </p>
              <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </div>
      </div>{% endfor %}
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>{% endblock %}
</html>